.header {
  padding: 30px 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  height: 24px;
  width: auto;
  font-family: "Arial Black";
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 1rem;
}

.about {
  transition: color .5s;
}

.about:hover {
  color: aqua;
}

.blog {
  transition: color .5s;
}

.blog:hover {
  color: aqua;
}

.search {
  transition: color .5s;
}

.search:hover {
  color: aqua;
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-flow: column;
  }

  .link {
    margin-top: 20px;
  }
}